@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* MAIN */
section:nth-of-type(odd) {
    background-color: rgb(45, 44, 44);
    color: white;
    
}

section > div {
    text-align: center;
    width: 1200px;
    margin: auto;
}

.introducao > div > h1 {
    padding: 20px;
    font-size: 40px;
}

.introducao > div > h2 {
    padding: 10px 0 40px 0;
    font-size: 15px;
}

.introducao > div > button {
    background-color: #4350F1;
    font-size: 20px;
    color: white;
    padding: 18px;
    border: none;
}

.introducao > div > button:hover {
    background-color: #00088A;
}

/* Oportunidnade */

.oportunidade > div {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
}

.oportunidade > div > div > h2 {
    color: red;
    padding-bottom: 20px;
}

.oportunidade > div > div > p {
    text-align: justify;
    margin: 0 20px;
}

.oportunidade > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

.oportunidade > div > h2 {
    margin: auto;
    font-size: 30px;
}

.oportunidade > div > p {
    padding: 20px;
    text-align: center;
    width: 65%;
    text-align: justify;
    margin: auto;
}