@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

header h1 {
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
}
header h2 {
    background-color: gray;
    color: white;
    text-align: right;
    padding: 10px;
}
nav ul {
    background-color: #7b7bfa;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a:visited, nav ul li a:link {
    display: inline-block;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
body {
    background-color: black
}
main {
    background-color: white;
    width: 1200px;
    margin: auto;
    padding: 30px;
}
main > p {
    line-height: 25px;
    margin: 30px 0px;
    text-align: justify;
}
main h2 {
    margin-bottom: 20px;
    transition: 0.5s;
}
main h2:first-of-type:hover{
    letter-spacing: 5px;
    transition: 0.5s;
}
main ul {
    margin-left:50px;
}
main img {
    width: 600px;
    margin: 20px auto;
    display: block;
}
main p span.textoCortado {
    text-decoration: line-through;
}
main ul li p{
    line-height: 30px;
}
footer {
    background-color: gray;
    padding: 50px;
}
footer p {
    text-align: center;
    color: white;
    font-weight: bold;
}
footer a {
    color: lightblue;
}
