/*global*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* celular */
.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
}

.container > div{
    border: 2px solid red;
    text-align: center;
    margin-bottom: 15px;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width:1024px) {

    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container > div {
        width: 50%;
    }
}

/* desktop */
@media screen and (min-width: 1024px){
    p {
        font-size: 30px;
        color: blue;
    }

    .container {
        flex-direction: row;
    }

    .container > div {
        margin: 0 10px;
    }
}
