@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial';
}

body {
    background-color: black;
}

section:nth-of-type(odd) {
    background-color: rgb(231, 227, 227);
}

section:nth-of-type(even) {
    background-color: white;
}

main section {
    width: 1200px;
    margin: auto;
    padding: 50px;
}

main section h1 {
    font-size: 35px;
    text-transform: uppercase;
}
main section p {
    margin: 20px 0;
    text-align: justify;
}

.destaque {
    font-weight: bold;
    font-size: 20px;
}

main section button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
main section button:hover {
    background-color: orangered;
    cursor: pointer;
}

.btnAzul {
    background-color: blue;
}

.btnPreto {
    background-color: black;
}

.compromisso .container {
    display: flex;
}

.compromisso .container img {
    width: 40px;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.container div {
    padding: 40px;
}

.informacao .container div {
    padding: 0 20px;
    width: 100%;
}

.informacao .container div {
    text-align: center;
}

.informacao .container div img {
    width: 90%;
}

.quem-somos .container div {
    text-align: center;
}

.quem-somos .container div p {
    padding: 0 20px;
}

.cont

.compromisso .container img {
    width: 100%;
}