*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97dvh;
    text-align: center;
}

div{
    width: 250px;
    height: 350px;
}

div img {
    width: 100%;
}